<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651995818023-h23jobva0agt8vebt25id5pgephi18i4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651995818023-h23jobva0agt8vebt25id5pgephi18i4</string>
	<key>API_KEY</key>
	<string>AIzaSyBNbJhQNg5yQHnMBEkB3vulN-KrrGYXTFY</string>
	<key>GCM_SENDER_ID</key>
	<string>651995818023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.visitingcard.starter</string>
	<key>PROJECT_ID</key>
	<string>card-eaf72</string>
	<key>STORAGE_BUCKET</key>
	<string>card-eaf72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651995818023:ios:789567e521f7d38d488602</string>
	<key>DATABASE_URL</key>
	<string>https://card-eaf72-default-rtdb.firebaseio.com</string>
</dict>
</plist>