<ion-header>
  <ion-toolbar>
    <ion-title>Edit Card</ion-title>
    <ion-buttons slot="end">
      <ion-buttons fill="clear" style="font-size: 12px;padding-left: 5px;" (click)="cerrar()" >
        <ion-icon slot="icon-only" name="close" style="margin-right: 8px;font-size: 23px"></ion-icon>
     </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="ion-margin-horizontal" no-margin>

        <ion-input [(ngModel)]="card.name" type="text"  placeholder="Name" style="border:1px solid #888888;border-radius: 22px;margin-top: 10px;" value="" class="listInput" ></ion-input>

        <ion-input [(ngModel)]="card.surname" type="text" placeholder="Surname" style="border:1px solid #888888;border-radius: 22px;margin-top: 10px;"   value="" class="listInput"></ion-input>
     
        <ion-input [(ngModel)]="card.Workplace" type="text" placeholder="Workplace" style="border:1px solid #888888;border-radius: 22px;margin-top: 10px;" value="" class="listInput"></ion-input>

        <ion-input [(ngModel)]="card.email" type="email" placeholder="Email" style="border:1px solid #888888;border-radius: 22px;margin-top: 10px;"   value="" class="listInput"></ion-input>

        <ion-input [(ngModel)]="card.cellNo" type="number" placeholder="Cell no" style="border:1px solid #888888;border-radius: 22px;margin-top: 10px;"   class="listInput"></ion-input>

    </ion-list>

    <ion-row style="justify-content: center;margin-top: 5%;">
      <ion-button class="custom-buttom" type="submit" shape="round"  (click)="update()">
        UPDATE CARD
      </ion-button>
    </ion-row>

</ion-content>
