<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CardList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let item of cards">
    <ion-item lines="none" style="border-bottom: 1px solid #dbdada;">
      <ion-label class="ion-text-wrap" (click)="viewCard(item._id)">
        <ion-text color="primary">
          <h1  style="font-size: 20px;"><b>Full Name : </b> {{item.card.name}} {{item.card.surname}}</h1>
        </ion-text>
        <!-- <p>{{item.card.cellNo}}</p> -->
        <ion-text color="secondary">
          <p><b>Workplace : </b>{{item.card.Workplace}}</p>
        </ion-text>
      </ion-label>
      <ion-button fill="outline" slot="end" (click)="presentModal(item._id)">Edit</ion-button>
    </ion-item>
  </ion-list>
</ion-content>