<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="ion-margin-horizontal" [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <ion-list style="margin-top: 20%;">
      <!-- <ion-label position="stacked" color="dark" class="lableFont">E-Mail*</ion-label> -->
      <ion-input placeholder="Email" style="border:1px solid #888888;border-radius: 22px;margin-top: 10px;" type="email" formControlName="email"></ion-input>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

        <!-- <ion-label position="stacked" color="dark" class="lableFont">Password*</ion-label> -->
        <ion-input placeholder="Password" style="border:1px solid #888888;border-radius: 22px;margin-top: 10px;" type="password" formControlName="password"></ion-input>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

    </ion-list>

    <!-- <a class="forget-pwd" routerLink="/forget-password" router-direction="forward">Forgot your password?</a> -->
    <ion-row style="justify-content: center;margin-top: 3%;">
      <ion-button class="login-btn" type="submit" shape="round" [disabled]="!loginForm.valid">
        LOGIN
      </ion-button>
    </ion-row>

    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
  </form>

  <!-- <ion-row style="justify-content: center;margin-top: 3%;">
    <ion-button class="login-btn" type="button" shape="round" (click)="googleLogin()">
      google login
    </ion-button>
  </ion-row> -->
  
  <p  style="text-align: center;" (click)="gotoregister()">Make an Account <a>Registered here</a></p>
</ion-content>