<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginData" (ngSubmit)="login()">
    <ion-input placeholder="Email" formControlName="email"></ion-input>
    <ion-input placeholder="Password" formControlName="password"></ion-input>
    <ion-button expand="block" type="submit">Login</ion-button>
  </form>
  <p (click)="gotoregister()">Make an Account</p>
</ion-content>