<ion-header *ngIf="!download">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="card" class="card-background-page">
  <!-- <p>card downloading</p>
  <p><b>Full Name: </b></p>
  <p><b>CellNo: </b>{{card.cellNo}}</p>
 <p><b>Workplace: </b></p> -->
 
 <ion-card>
  <img src="../../assets/img/cardimage.jpg  "  style="max-width: none;"/>
  <div class="card-title" style="margin: 2% 0 ;"><b>Name: </b>{{card.name}} {{card.surname}}</div>
  <div class="card-subtitle2" style="margin: 2% 0 ;"><b>Workplace: </b>{{card.Workplace}}</div>
  <div *ngIf="cellNoSharing == true" class="card-subtitle" style="margin: 2% 0 ;"><b>Mobile no: </b>{{card.cellNo}}</div>
  <div class="card-subtitle" style="margin: 2% 0 ;"><b>Email: </b>{{card.email}}</div>

</ion-card>

<ion-row style="justify-content: center;margin-top: 2%;">
  <ion-checkbox  [(ngModel)]="Multiple" ></ion-checkbox> <ion-label style="margin-left: 10px;">Allow Multiple Download</ion-label>
</ion-row  >

  <!-- <ion-item *ngIf="code">
    <p>{{code}}</p>
  </ion-item> -->
  <ion-row style="justify-content: center;margin-top: 5%;" *ngIf="!download">
    <ion-button class="custom-buttom" type="button" shape="round" (click)="gotoDownload(card)">
      View Full Card
    </ion-button>
    <ion-button expand="block" type="button" (click)="gencode(cardid)" shape="round">Generate Code / QRcode  </ion-button>
  </ion-row>

</ion-content>
