<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>AddCard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 0 18% 0 18%;" (click)="QRscan()">
    <ion-item lines="none" style=" padding:0 !important">
      <img src="assets/qr.png" style="margin: 10% auto 3%;width: 155px;" />
    </ion-item>

    <ion-item no-padding lines="none" >
      <ion-icon name="camera" style="font-size: 72px;margin-left: 5%;"></ion-icon> 
      <p style="margin: 0 6%;">use your phone to scan a QR code</p>
    </ion-item>
  </div>
  <ion-input style="padding-left: 15px !important;border: 1px solid #888888;width: 50%; margin: 12px auto;border-radius: 22px" placeholder="Enter The Code" value="{{code}}" [(ngModel)]="code" type="text" maxlength="4" (ngModelChange)="codefun(code)"></ion-input>
  <ion-row style="justify-content: center;margin-top: 5%;">
  <ion-button expand="block" type="button" (click)="presentModal()"  shape="round">Add Visiting Card Manualy </ion-button>
  </ion-row>
 
</ion-content>